#project_name{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 34px;
letter-spacing: 2px;
word-spacing: 2px;
color: #a13408;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
background: #b33706;
background: -moz-linear-gradient(left, #FF6122 0%, #9A8BA4 50%, #7741FF 100%);
background: -webkit-linear-gradient(left, #FF6122 0%, #9A8BA4 50%, #7741FF 100%);
background: linear-gradient(to right, #FF6122 0%, #9A8BA4 50%, #7741FF 100%);
text-align: center;
text-shadow: 1px 2px 2px #242222;
}
.maintext{
    font-family: "Courier New", Courier, monospace;
font-size: 19px;
letter-spacing: 2px;
word-spacing: 2px;
color: #370ba7;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
background: #FF6122;
background: -moz-linear-gradient(left, #FF6122 0%, #9A8BA4 50%, #7741FF 100%);
background: -webkit-linear-gradient(left, #FF6122 0%, #9A8BA4 50%, #7741FF 100%);
background: linear-gradient(to right, #FF6122 0%, #9A8BA4 50%, #7741FF 100%);
text-align: center;
}
#options{
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #020007;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}